@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  vertical-align: baseline; 
}

:root {
  --background-color: #ffffff;
  --tex-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #272727;
    --text-color: #ffffff;
  }
}



body {
  font-size: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

